大二/机械原理/整合/《机械原理（第8版）全程辅导及习题精解》_13631560(3).pdf filter=lfs diff=lfs merge=lfs -text
大三/农业机械学/农业机械学-第十章复习材料-2025-5.zip filter=lfs diff=lfs merge=lfs -text
大三/农业机械学/第十章复习材料-禁止外传-2025-5/第十三章[[:space:]]玉米收获机械2023-水印.pdf filter=lfs diff=lfs merge=lfs -text
大三/智能农业创新设计/中期答辩/2-丘陵山地六足仿生喷雾机器人.pptx filter=lfs diff=lfs merge=lfs -text
大四/拖拉机拆装实习/PPT汇总/手动变速箱汇报/2-S-2[[:space:]]刘军[[:space:]]手动变速器PPT汇报.pptx filter=lfs diff=lfs merge=lfs -text
大四/拖拉机拆装实习/PPT汇总/手动变速箱汇报/2-S-8手动变速器拆装汇报.pptx filter=lfs diff=lfs merge=lfs -text
大四/拖拉机拆装实习/PPT汇总/手动变速箱汇报/尚子墨.pptx filter=lfs diff=lfs merge=lfs -text
大四/拖拉机拆装实习/PPT汇总/第一次汇报/晏绪哲/EA888发动机拆装实习汇报（二班4组）.pptx filter=lfs diff=lfs merge=lfs -text
大四/现代果业装备新技术/机化2201谢昊2022013103.pptx filter=lfs diff=lfs merge=lfs -text
